@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #2b80e2;
 --secondary-color: #ccc;
 --primary-font: Mooli, san-serif;
 }

body {
    font-family: var(--primary-font);
    font-size: 20px;
    background-color: #ccc;
    text-align: center;
}
a, h1, footer {
    color: white;
}
a {
    display: block;
    margin: 8px;
    padding: 8px;
}
header, footer {
    background-color:  var(--primary-color);
    padding: 10px;
}
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    max-height: 100%;
}
.menu-btn {
    background-color: #2b80e2;
    border: none;
    color: white;
    font-size: 1.3em;
}
.hide {
	display: none;
}
/* modal */

.viewer {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
}
.viewer button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3em;
    justify-self: end;
    
}
.viewer img {
    justify-self: center;
    max-width: 500px;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
 
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .menu {
        display: block;
    }
    a {
        display: inline;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}